<div class="dna">

  <h2>MELODY DNA</h2>

  <!-- STEP 1 — IDEOLOGY CAROUSEL -->
  <div *ngIf="step === 1" class="step ideology">
    <p>1. Musical Ideology</p>

    <div class="carousel">
      <button (click)="prevIdeology()">◀</button>

      <div class="card">
        <h2>{{ ideologies[ideologyIndex].label }}</h2>
        <p>{{ ideologies[ideologyIndex].description }}</p>
      </div>

      <button (click)="nextIdeology()">▶</button>
    </div>
  </div>

  <!-- STEP 2 — READ ONLY -->
  <div *ngIf="step === 2" class="step">
    <p>2. Time Signature</p>
    <p class="locked">Defined in World settings</p>
  </div>

  <!-- STEP 3 -->
  <div *ngIf="step === 3" class="step">
    <p>3. Target Style</p>

    <select [(ngModel)]="dna.style">
      <option>Rock</option>
      <option>Pop</option>
      <option>Glam</option>
      <option>Metal</option>
      <option>Indie</option>
      <option>Experimental</option>
    </select>
  </div>
  
  <!-- STEP 4 — CHORD FRAME -->
  <div *ngIf="step === 4" class="step">
    <p>4. Harmony Base</p>

    <!-- FRAME -->
    <canvas
      #chordCanvas
      width="600"
      height="80"
      class="chord-frame"
      (click)="onCanvasClick($event)"
      style="cursor: pointer;">
    </canvas>

    <!-- HUD -->
    <div class="hud">
      <div class="note-controls">
        <button (click)="addNote()">+ NOTE</button>
        <button (click)="removeNote()">- NOTE</button>
      </div>

      <div class="size-controls">
        <button (click)="setLength('short')">■</button>
        <button (click)="setLength('medium')">■■</button>
        <button (click)="setLength('long')">■■■</button>
      </div>
    </div>
  </div>


  <!-- STEP 5 -->
  <div *ngIf="step === 5" class="step">
    <p>5. Syncopation Level</p>

    <button (click)="dna.syncopation='low'">Low</button>
    <button (click)="dna.syncopation='medium'">Medium</button>
    <button (click)="dna.syncopation='high'">High</button>
  </div>

  <!-- CONTROLS -->
  <div class="controls">
    <button (click)="back()" [disabled]="step===1">BACK</button>
    <button *ngIf="step<5" (click)="next()">NEXT</button>
    <button *ngIf="step===5" (click)="finish()">CONFIRM DNA</button>
  </div>

</div>
